# Welcome 

This is mission 170 from dataquest : https://www.dataquest.io/mission/170/computation-with-numpy

The variable world_alcohol already contains the data set we're working with.
#### Extract the third column in world_alcohol, and compare it to the string Canada. Assign the result to countries_canada.
#### Extract the first column in world_alcohol, and compare it to the string 1984. Assign the result to years_1984.

In [5]:
import numpy

world_alcohol = numpy.genfromtxt("world_alcohol.csv",delimiter=",",skip_header=1, dtype="U75")

countries_canada = (world_alcohol[:,2]=="Canada")

years_1984 = (world_alcohol[:,0]=="1984")

print(countries_canada)
print(years_1984)

[False False False ..., False False False]
[False False False ...,  True False False]

#### Compare the third column of world_alcohol to the string Algeria.
#### Assign the result to country_is_algeria.
#### Select only the rows in world_alcohol where country_is_algeria is True.
#### Assign the result to country_algeria.

In [6]:
country_is_algeria = (world_alcohol[:,2]=="Algeria")
country_algeria = world_alcohol[country_is_algeria,:]

print(country_algeria)

[['1984' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Beer' '0.17']
 ['1987' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1984' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Beer' '0.16']
 ['1989' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1989' 'Africa' 'Algeria' 'Wine' '0.23']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1984' 'Africa' 'Algeria' 'Wine' '0.12']
 ['1985' 'Africa' 'Algeria' 'Beer' '0.19']
 ['1985' 'Africa' 'Algeria' 'Other' '0']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1985' 'Africa' 'Algeria' 'Wine' '0.11']
 ['1986' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Other' '0']
 ['1987' 'Africa' 'Algeria' 'Other' '0']]

#### Perform a comparison with multiple conditions, and join the conditions with &.
    Compare the first column of world_alcohol to the string 1986.
    Compare the third column of world_alcohol to the string Algeria.
    Enclose each condition in parentheses, and join the conditions with &.
    Assign the result to is_algeria_and_1986.
#### Use is_algeria_and_1986 to select rows from world_alcohol.
#### Assign the rows that is_algeria_and_1986 selects to rows_with_algeria_and_1986.

In [7]:
is_algeria_and_1986 = (world_alcohol[:,0]=="1986") & (world_alcohol[:,2]=="Algeria")

rows_with_algeria_and_1986 = world_alcohol[is_algeria_and_1986,:]

print(rows_with_algeria_and_1986)

[['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1986' 'Africa' 'Algeria' 'Other' '0']]

#### Replace all instances of the string 1986 in the first column of world_alcohol with the string 2014.
#### Replace all instances of the string Wine in the fourth column of world_alcohol with the string Grog.

In [8]:
poop = world_alcohol[:,0]=="1986"
world_alcohol[poop,0] = "2014"

print(world_alcohol)

poop = world_alcohol[:,3]=="Wine"
world_alcohol[poop,3] = "Grog"
print(world_alcohol)

[['2014' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['2014' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ...,
 ['1984' 'Africa' 'Equatorial Guinea' 'Spirits' '0']
 ['2014' 'Americas' 'Cuba' 'Other' '']
 ['1989' 'Americas' 'Dominican Republic' 'Other' '0']]
[['2014' 'Western Pacific' 'Viet Nam' 'Grog' '0']
 ['2014' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Grog' '1.62']
 ...,
 ['1984' 'Africa' 'Equatorial Guinea' 'Spirits' '0']
 ['2014' 'Americas' 'Cuba' 'Other' '']
 ['1989' 'Americas' 'Dominican Republic' 'Other' '0']]

#### Compare all the items in the fifth column of world_alcohol with an empty string ''. Assign the result to is_value_empty.
#### Select all the values in the fifth column of world_alcohol where is_value_empty is True, and replace them with the string 0.

In [9]:
is_value_empty = world_alcohol[:,4]==""

world_alcohol[is_value_empty,4] = 0

#### Extract the fifth column from world_alcohol, and assign it to the variable alcohol_consumption.
#### Use the astype() method to convert alcohol_consumption to the float data type.

In [10]:
alcohol_consumption = world_alcohol[:,4]

alcohol_consumption = alcohol_consumption.astype(float)

#### Use the sum() method to calculate the sum of the values in alcohol_consumption. Assign the result to total_alcohol.
#### Use the mean() method to calculate the average of the values in alcohol_consumption. Assign the result to average_alcohol.

In [11]:
total_alcohol = alcohol_consumption.sum()
average_alcohol = alcohol_consumption.mean()

print(total_alcohol)
print(average_alcohol)

3279.29
1.20606472968

#### Create a matrix called canada_1986 that only contains the rows in world_alcohol where the first column is the string 1986 and the third column is the string Canada.
#### Extract the fifth column of canada_1986, replace any empty strings ('') with the string 0, and convert the column to the float data type. Assign the result to canada_alcohol.
#### Compute the sum of canada_alcohol. Assign the result to total_canadian_drinking.

In [13]:
poop = ((world_alcohol[:,0]=="1986") & (world_alcohol[:,2]=="Canada"))
canada_1986 = world_alcohol[poop,:]
#print(canada_1986)

poop2 = (canada_1986[:,4]=="")
canada_1986[poop2,4] = "0"
canada_alcohol = canada_1986[:,4].astype(float)

total_canadian_drinking = canada_alcohol.sum()
print(total_canadian_drinking)

0.0

#### We've assigned the list of all countries to the variable countries.
#### Find the total consumption for each country in countries for the year 1989.
    Refer to the steps outlined above for help.
#### When you're finished, totals should contain all of the country names as keys, with the corresponding alcohol consumption totals for 1989 as values.

In [15]:
totals = {}
countries = ['South Africa', 'Malawi', 'Uruguay', 'Sao Tome and Principe', 'Israel', 'Sri Lanka', 'Kenya', 'Russian Federation', 'Cameroon', 'Cabo Verde', 'Congo', 'Canada', 'Argentina', 'Norway', 'Dominican Republic', 'Bahrain', 'Albania', 'Lithuania', 'Papua New Guinea', 'Mauritius', 'Republic of Korea', 'Bahamas', 'Luxembourg', 'Saint Lucia', 'Algeria', 'Eritrea', 'Botswana', 'Nicaragua', 'Peru', 'Philippines', 'Syrian Arab Republic', 'Brazil', 'Ethiopia', 'Austria', 'Djibouti', 'Burkina Faso', 'Somalia', 'India', 'Belarus', 'Haiti', 'Saint Kitts and Nevis', 'Bulgaria', 'Yemen', 'Guinea', 'Tunisia', 'Kuwait', 'Central African Republic', 'Poland', 'Panama', 'Ghana', 'Cambodia', 'El Salvador', 'Jordan', 'Seychelles', 'Pakistan', 'Gabon', 'Equatorial Guinea', 'Portugal', 'Thailand', 'Italy', 'Greece', 'Viet Nam', 'Saudi Arabia', 'Bolivia (Plurinational State of)', 'Bhutan', 'Japan', 'Suriname', 'Zambia', 'Togo', 'Guatemala', 'Mozambique', 'Fiji', 'Morocco', 'Jamaica', 'Uganda', 'Croatia', 'Qatar', 'Angola', 'Mali', 'Guinea-Bissau', 'Democratic Republic of the Congo', 'Solomon Islands', 'Nepal', 'Czech Republic', 'Guyana', 'Ukraine', 'Mongolia', 'Niger', 'Swaziland', 'Comoros', 'Germany', 'Brunei Darussalam', 'Iceland', 'Lesotho', 'Kiribati', "Cte d'Ivoire", 'Mexico', 'Antigua and Barbuda', 'Turkey', 'Costa Rica', 'Bangladesh', 'Finland', 'Netherlands', 'Senegal', 'Lebanon', 'Belize', 'Sweden', 'Chile', 'Slovakia', 'Liberia', 'Myanmar', 'China', 'Latvia', 'Cuba', "Democratic People's Republic of Korea", 'Colombia', 'Vanuatu', 'Samoa', 'Kyrgyzstan', 'Australia', 'Malta', 'Iraq', 'Ecuador', 'Micronesia (Federated States of)', 'Switzerland', 'Madagascar', 'Egypt', 'Romania', 'Sudan', 'Honduras', 'United Kingdom of Great Britain and Northern Ireland', 'Ireland', 'Spain', 'United States of America', 'Burundi', 'United Arab Emirates', 'Cyprus', 'Malaysia', 'New Zealand', 'Sierra Leone', 'Gambia', 'Oman', 'Trinidad and Tobago', 'Venezuela (Bolivarian Republic of)', 'Nigeria', 'Indonesia', 'Belgium', 'Mauritania', 'Iran (Islamic Republic of)', 'United Republic of Tanzania', 'Paraguay', 'Hungary', 'Singapore', 'Slovenia', 'Chad', 'Zimbabwe', "Lao People's Democratic Republic", 'Benin', 'Rwanda', 'Libya', 'France', 'Namibia', 'Afghanistan', 'Denmark']

year_found = world_alcohol[:,0]=="1989"
year = world_alcohol[year_found,:]
#print(year)

for each in countries:
    row_found = (year[:,2]==each)
    country_consumption = year[row_found,:]
    find_empty = country_consumption[:,4]==""
    country_consumption[find_empty,:] = "0"
    country_consumption = country_consumption[:,4].astype(float)
    country_sum = country_consumption.sum()
    if ((each in totals)==True):
        totals[each] += country_sum
    else:
        totals[each] = country_sum
        
print(totals)

{'South Africa': 7.5899999999999999, 'Malawi': 0.90999999999999992, 'Uruguay': 7.4399999999999995, 'Sao Tome and Principe': 2.4099999999999997, 'Israel': 1.5600000000000001, 'Sri Lanka': 0.14000000000000001, 'Kenya': 2.8199999999999998, 'Russian Federation': 5.3499999999999996, 'Cameroon': 6.3599999999999994, 'Cabo Verde': 2.79, 'Congo': 1.2400000000000002, 'Canada': 4.1799999999999997, 'Argentina': 0.28999999999999998, 'Norway': 5.0800000000000001, 'Dominican Republic': 4.5300000000000002, 'Bahrain': 4.8899999999999997, 'Albania': 1.27, 'Lithuania': 0.0, 'Papua New Guinea': 1.1099999999999999, 'Mauritius': 1.73, 'Republic of Korea': 9.620000000000001, 'Bahamas': 12.290000000000001, 'Luxembourg': 12.5, 'Saint Lucia': 11.619999999999999, 'Algeria': 0.40000000000000002, 'Eritrea': 0.28999999999999998, 'Botswana': 4.6299999999999999, 'Nicaragua': 2.5, 'Peru': 4.9900000000000002, 'Philippines': 3.7799999999999998, 'Syrian Arab Republic': 0.17999999999999999, 'Brazil': 5.5199999999999996, 'Ethiopia': 0.8600000000000001, 'Austria': 12.0, 'Djibouti': 0.52000000000000002, 'Burkina Faso': 3.9900000000000002, 'Somalia': 0.0, 'India': 1.6599999999999999, 'Belarus': 7.9799999999999995, 'Haiti': 0.040000000000000001, 'Saint Kitts and Nevis': 4.6500000000000004, 'Bulgaria': 11.43, 'Yemen': 0.14999999999999999, 'Guinea': 0.20999999999999999, 'Tunisia': 0.94999999999999996, 'Kuwait': 0.0, 'Central African Republic': 2.3499999999999996, 'Poland': 7.2999999999999998, 'Panama': 4.6000000000000005, 'Ghana': 1.8599999999999999, 'Cambodia': 0.33000000000000002, 'El Salvador': 1.77, 'Jordan': 0.13, 'Seychelles': 2.23, 'Pakistan': 0.02, 'Gabon': 9.3399999999999999, 'Equatorial Guinea': 6.4900000000000002, 'Portugal': 15.350000000000001, 'Thailand': 3.9199999999999999, 'Italy': 10.899999999999999, 'Greece': 10.15, 'Viet Nam': 0.16, 'Saudi Arabia': 0.14999999999999999, 'Bolivia (Plurinational State of)': 2.9699999999999998, 'Bhutan': 0.31, 'Japan': 7.7400000000000002, 'Suriname': 3.6699999999999999, 'Zambia': 3.3700000000000001, 'Togo': 2.2199999999999998, 'Guatemala': 2.4700000000000002, 'Mozambique': 0.39000000000000001, 'Fiji': 1.9600000000000002, 'Morocco': 0.63, 'Jamaica': 3.0299999999999998, 'Uganda': 7.6200000000000001, 'Croatia': 10.92, 'Qatar': 0.089999999999999997, 'Angola': 1.4099999999999999, 'Mali': 0.66999999999999993, 'Guinea-Bissau': 2.6699999999999999, 'Democratic Republic of the Congo': 1.9199999999999999, 'Solomon Islands': 0.52000000000000002, 'Nepal': 0.029999999999999999, 'Czech Republic': 8.6999999999999993, 'Guyana': 9.9400000000000013, 'Ukraine': 5.3200000000000003, 'Mongolia': 2.5899999999999999, 'Niger': 0.11, 'Swaziland': 6.6799999999999997, 'Comoros': 0.10999999999999999, 'Germany': 14.640000000000001, 'Brunei Darussalam': 2.7800000000000002, 'Iceland': 5.3499999999999996, 'Lesotho': 2.02, 'Kiribati': 0.47999999999999998, "Cte d'Ivoire": 2.2000000000000002, 'Mexico': 5.0999999999999996, 'Antigua and Barbuda': 4.6900000000000004, 'Turkey': 0.71999999999999997, 'Costa Rica': 5.3999999999999995, 'Bangladesh': 0.0, 'Finland': 9.4199999999999982, 'Netherlands': 10.030000000000001, 'Senegal': 0.6100000000000001, 'Lebanon': 3.52, 'Belize': 0.0, 'Sweden': 7.4699999999999998, 'Chile': 8.6499999999999986, 'Slovakia': 12.700000000000001, 'Liberia': 5.6100000000000003, 'Myanmar': 0.02, 'China': 2.98, 'Latvia': 1.4399999999999999, 'Cuba': 4.3700000000000001, "Democratic People's Republic of Korea": 3.6799999999999997, 'Colombia': 2.4399999999999999, 'Vanuatu': 1.74, 'Samoa': 2.6099999999999999, 'Kyrgyzstan': 4.2799999999999994, 'Australia': 12.09, 'Malta': 5.2400000000000002, 'Iraq': 0.42999999999999999, 'Ecuador': 2.54, 'Micronesia (Federated States of)': 0.0, 'Switzerland': 11.309999999999999, 'Madagascar': 1.1899999999999999, 'Egypt': 0.35000000000000003, 'Romania': 8.4100000000000001, 'Sudan': 0.14999999999999999, 'Honduras': 2.1499999999999999, 'United Kingdom of Great Britain and Northern Ireland': 9.6400000000000006, 'Ireland': 8.75, 'Spain': 8.8300000000000001, 'United States of America': 9.1600000000000001, 'Burundi': 8.1499999999999986, 'United Arab Emirates': 4.4299999999999997, 'Cyprus': 9.2899999999999991, 'Malaysia': 0.68000000000000005, 'New Zealand': 1.8100000000000001, 'Sierra Leone': 4.3800000000000008, 'Gambia': 1.54, 'Oman': 1.03, 'Trinidad and Tobago': 4.6799999999999997, 'Venezuela (Bolivarian Republic of)': 7.8700000000000001, 'Nigeria': 6.7400000000000002, 'Indonesia': 0.070000000000000007, 'Belgium': 11.609999999999999, 'Mauritania': 0.0, 'Iran (Islamic Republic of)': 0.0, 'United Republic of Tanzania': 5.9000000000000004, 'Paraguay': 6.5099999999999998, 'Hungary': 3.4399999999999999, 'Singapore': 1.6100000000000001, 'Slovenia': 12.969999999999999, 'Chad': 0.28000000000000003, 'Zimbabwe': 1.73, "Lao People's Democratic Republic": 2.46, 'Benin': 1.3800000000000001, 'Rwanda': 7.5499999999999989, 'Libya': 0.0, 'France': 16.050000000000001, 'Namibia': 0.23999999999999999, 'Afghanistan': 0.0, 'Denmark': 4.1999999999999993}

#### Find the country with the highest total alcohol consumption.
#### To do this, you'll need to find the key associated with the highest value in the totals dictionary.
#### Follow the process outlined above to find the highest value in totals.
#### When you're finished, highest_value will contain the highest average alcohol consumption, and highest_key will contain the country that had the highest per capital alcohol consumption in 1989.

In [16]:
highest_value = 0
highest_key = None

for each in totals:
    if( totals[each] > float(highest_value) ):
        highest_value = totals[each]
        highest_key = each
        
print(highest_key,highest_value)

France 16.05

# THIS IS THE END 8-)