# Welcome
This is mission 8 from dataquest : https://www.dataquest.io/mission/8/introduction-to-pandas

#### Import the pandas library.
#### Use the pandas.read_csv() function to read the file "food_info.csv" into a dataframe named food_info.
#### Use the type() and print() functions to display the type of food_info to confirm that it's a dataframe object.

In [1]:
import pandas

food_info = pandas.read_csv("food_info.csv")

print(type(food_info))

#print(open("food_info.csv","r").read())

<class 'pandas.core.frame.DataFrame'>

#### Select the first 20 rows from food_info and assign to the variable first_twenty.

In [2]:
#print(food_info.head(3))
dimensions = food_info.shape
print(dimensions)
num_rows = dimensions[0]
print(num_rows)
num_cols = dimensions[1]
print(num_cols)

first_twenty = food_info.head(20)
print(first_twenty)

(554, 36)
554
36
    NDB_No                                         Shrt_Desc  Water_(g)  \
0     1001                                  BUTTER WITH SALT      15.87
1     1002                          BUTTER WHIPPED WITH SALT      15.87
2     1003                              BUTTER OIL ANHYDROUS       0.24
3     1004                                       CHEESE BLUE      42.41
4     1005                                      CHEESE BRICK      41.11
5     1006                                       CHEESE BRIE      48.42
6     1007                                  CHEESE CAMEMBERT      51.80
7     1008                                    CHEESE CARAWAY      39.28
8     1009                                    CHEESE CHEDDAR      37.10
9     1010                                   CHEESE CHESHIRE      37.65
10    1011                                      CHEESE COLBY      38.20
11    1012               CHEESE COTTAGE CRMD LRG OR SML CURD      79.79
12    1013                       CHEESE COTTAGE CRMD W/FRUIT      79.64
13    1014  CHEESE COTTAGE NONFAT UNCRMD DRY LRG OR SML CURD      81.01
14    1015                  CHEESE COTTAGE LOWFAT 2% MILKFAT      81.24
15    1016                  CHEESE COTTAGE LOWFAT 1% MILKFAT      82.48
16    1017                                      CHEESE CREAM      54.44
17    1018                                       CHEESE EDAM      41.56
18    1019                                       CHEESE FETA      55.22
19    1020                                    CHEESE FONTINA      37.92

    Energ_Kcal  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
0          717         0.85          81.11     2.11            0.06
1          717         0.85          81.11     2.11            0.06
2          876         0.28          99.48     0.00            0.00
3          353        21.40          28.74     5.11            2.34
4          371        23.24          29.68     3.18            2.79
5          334        20.75          27.68     2.70            0.45
6          300        19.80          24.26     3.68            0.46
7          376        25.18          29.20     3.28            3.06
8          406        24.04          33.82     3.71            1.33
9          387        23.37          30.60     3.60            4.78
10         394        23.76          32.11     3.36            2.57
11          98        11.12           4.30     1.41            3.38
12          97        10.69           3.85     1.20            4.61
13          72        10.34           0.29     1.71            6.66
14          81        10.45           2.27     1.27            4.76
15          72        12.39           1.02     1.39            2.72
16         342         5.93          34.24     1.32            4.07
17         357        24.99          27.80     4.22            1.43
18         264        14.21          21.28     5.20            4.09
19         389        25.60          31.14     3.79            1.55

    Fiber_TD_(g)  Sugar_Tot_(g)       ...        Vit_A_IU  Vit_A_RAE  \
0            0.0           0.06       ...          2499.0      684.0
1            0.0           0.06       ...          2499.0      684.0
2            0.0           0.00       ...          3069.0      840.0
3            0.0           0.50       ...           721.0      198.0
4            0.0           0.51       ...          1080.0      292.0
5            0.0           0.45       ...           592.0      174.0
6            0.0           0.46       ...           820.0      241.0
7            0.0            NaN       ...          1054.0      271.0
8            0.0           0.28       ...           994.0      263.0
9            0.0            NaN       ...           985.0      233.0
10           0.0           0.52       ...           994.0      264.0
11           0.0           2.67       ...           140.0       37.0
12           0.2           2.38       ...           146.0       38.0
13           0.0           1.85       ...             8.0        2.0
14           0.0           4.00       ...           225.0       68.0
15           0.0           2.72       ...            41.0       11.0
16           0.0           3.21       ...          1343.0      366.0
17           0.0           1.43       ...           825.0      243.0
18           0.0           4.09       ...           422.0      125.0
19           0.0           1.55       ...           913.0      261.0

    Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  \
0         2.32        1.5      60.0          7.0      51.368       21.021
1         2.32        1.5      60.0          7.0      50.489       23.426
2         2.80        1.8      73.0          8.6      61.924       28.732
3         0.25        0.5      21.0          2.4      18.669        7.778
4         0.26        0.5      22.0          2.5      18.764        8.598
5         0.24        0.5      20.0          2.3      17.410        8.013
6         0.21        0.4      18.0          2.0      15.259        7.023
7          NaN        NaN       NaN          NaN      18.584        8.275
8         0.78        0.6      24.0          2.9      19.368        8.428
9          NaN        NaN       NaN          NaN      19.475        8.671
10        0.28        0.6      24.0          2.7      20.218        9.280
11        0.08        0.1       3.0          0.0       1.718        0.778
12        0.04        0.0       0.0          0.4       2.311        1.036
13        0.01        0.0       0.0          0.0       0.169        0.079
14        0.08        0.0       0.0          0.0       1.235        0.516
15        0.01        0.0       0.0          0.1       0.645        0.291
16        0.29        0.6      25.0          2.9      19.292        8.620
17        0.24        0.5      20.0          2.3      17.572        8.125
18        0.18        0.4      16.0          1.8      14.946        4.623
19        0.27        0.6      23.0          2.6      19.196        8.687

    FA_Poly_(g)  Cholestrl_(mg)
0         3.043           215.0
1         3.012           219.0
2         3.694           256.0
3         0.800            75.0
4         0.784            94.0
5         0.826           100.0
6         0.724            72.0
7         0.830            93.0
8         1.433           102.0
9         0.870           103.0
10        0.953            95.0
11        0.123            17.0
12        0.124            13.0
13        0.003             7.0
14        0.083            12.0
15        0.031             4.0
16        1.437           110.0
17        0.665            89.0
18        0.591            89.0
19        1.654           116.0

[20 rows x 36 columns]

#### Assign the 100th row of food_info to the variable hundredth_row.
#### Display hundredth_row using the print() function.

In [3]:
hundredth_row = food_info.loc[99]
print(hundredth_row)

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

In [4]:
print(food_info.dtypes)

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)          int64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

#### Select the last 5 rows of food_info and assign to the variable last_rows.

In [5]:
#print("Rows 3, 4, 5 and 6")
#print(food_info.loc[3:6])

#print("Rows 2, 5, and 10")
two_five_ten = [2,5,10]
#print(food_info.loc[two_five_ten])

last_rows = food_info.loc[len(food_info)-5:len(food_info)-1]
print(last_rows)

     NDB_No                                          Shrt_Desc  Water_(g)  \
549    3900  INF FORMULA NESTLE GOOD START 2 ESSENTIALS W/ ...       86.6
550    3901  INF FORMULA  NE GOO STAR 2 ESSENT W/ IRON LIQ ...       74.2
551    3913  INF FORMULA NESTLE GOOD START 2 ESSENTIALS W/ ...        2.5
552    3925  INF FORMULA NESTLE GOOD START ESSENTIALS SOY W...       87.5
553    3926  INF FORM NEST GOOD START ESSENT SOY W/ IRON LI...       75.4

     Energ_Kcal  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
549          65         1.70           2.70     0.47            8.54
550         125         3.25           5.13     0.93           16.50
551         471        12.20          19.30     3.77           62.23
552          65         1.63           3.30     0.40            7.17
553         128         3.20           6.50     0.80           14.10

     Fiber_TD_(g)  Sugar_Tot_(g)       ...        Vit_A_IU  Vit_A_RAE  \
549           0.0           6.19       ...           163.0       48.0
550           0.0          11.90       ...           313.0       98.0
551           0.0          44.30       ...          1178.0      354.0
552           0.0           5.69       ...           167.0       50.0
553           0.0          11.20       ...             NaN        NaN

     Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  \
549        0.91        1.1      43.0          5.2       1.180        0.870
550        1.75        2.0      82.0         10.0       2.213        1.582
551        6.60        7.7     309.0         38.0       8.540        6.230
552        0.95        1.0      40.0          5.2       1.400        1.000
553         NaN        NaN       NaN          NaN         NaN          NaN

     FA_Poly_(g)  Cholestrl_(mg)
549        0.600             1.0
550        1.213             2.0
551        4.310             6.0
552        0.800             0.0
553          NaN             NaN

[5 rows x 36 columns]

#### Assign the "FA_Sat_(g)" column to the variable saturated_fat.
#### Assign the "Cholestrl_(mg)" column to the variable cholesterol.

In [6]:
# Series object.
ndb_col = food_info["NDB_No"]
#print(ndb_col)

# Display the type of the column to confirm it's a Series object.
#print(type(ndb_col))

saturated_fat = food_info["FA_Sat_(g)"]
print(saturated_fat)
cholesterol = food_info["Cholestrl_(mg)"]
print(cholesterol)

0      51.368
1      50.489
2      61.924
3      18.669
4      18.764
5      17.410
6      15.259
7      18.584
8      19.368
9      19.475
10     20.218
11      1.718
12      2.311
13      0.169
14      1.235
15      0.645
16     19.292
17     17.572
18     14.946
19     19.196
20     19.160
21     17.614
22     18.913
23     16.746
24     19.066
25     13.152
26     15.561
27     10.114
28     11.473
29     19.113
        ...
524     2.120
525     1.166
526     2.262
527     9.167
528     2.798
529     1.453
530     1.838
531    11.370
532     1.237
533     2.401
534    11.370
535     9.873
536     2.969
537     1.237
538     2.401
539     1.453
540     9.873
541     1.400
542     1.256
543     8.905
544     1.242
545    11.000
546     1.495
547    12.020
548     1.256
549     1.180
550     2.213
551     8.540
552     1.400
553       NaN
Name: FA_Sat_(g), dtype: float64
0      215.0
1      219.0
2      256.0
3       75.0
4       94.0
5      100.0
6       72.0
7       93.0
8      102.0
9      103.0
10      95.0
11      17.0
12      13.0
13       7.0
14      12.0
15       4.0
16     110.0
17      89.0
18      89.0
19     116.0
20      94.0
21     114.0
22     110.0
23      90.0
24      89.0
25      79.0
26      89.0
27      64.0
28      65.0
29      96.0
       ...
524      2.0
525      0.0
526      0.0
527      0.0
528      0.0
529      0.0
530      1.0
531     16.0
532      2.0
533      3.0
534      0.0
535     14.0
536      0.0
537      2.0
538      3.0
539      0.0
540     14.0
541      2.0
542      2.0
543      0.0
544      0.0
545      6.0
546      1.0
547      8.0
548      2.0
549      1.0
550      2.0
551      6.0
552      0.0
553      NaN
Name: Cholestrl_(mg), dtype: float64

#### Select the 'Selenium_(mcg)' and 'Thiamin_(mg)' columns and assign the resulting dataframe to selenium_thiamin.

In [7]:
zinc_copper = food_info[["Zinc_(mg)", "Copper_(mg)"]]

columns = ["Zinc_(mg)", "Copper_(mg)"]
zinc_copper = food_info[columns]

selenium_thiamin = food_info[["Selenium_(mcg)","Thiamin_(mg)"]]

#### Select and display only the columns that use grams for measurement (that end with "(g)"). To accomplish this:
    Use the columns attribute to return the column names in food_info and convert to a list by calling the method tolist()
    Create a new list, gram_columns, containing only the column names that end in "(g)". The string method endswith() returns True if the string object calling the method ends with the string passed into the parentheses.
    Pass gram_columns into bracket notation to select just those columns and assign the resulting dataframe to gram_df
    Then use the dataframe method head() to display the first 3 rows of gram_df.

In [8]:
col_names = food_info.columns.tolist()

gram_columns = []
for each in col_names:
    if( each.endswith("(g)") ):
        gram_columns.append(each)
        
gram_df = food_info[gram_columns]

print(gram_df.head(3))

   Water_(g)  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
0      15.87         0.85          81.11     2.11            0.06
1      15.87         0.85          81.11     2.11            0.06
2       0.24         0.28          99.48     0.00            0.00

   Fiber_TD_(g)  Sugar_Tot_(g)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)
0           0.0           0.06      51.368       21.021        3.043
1           0.0           0.06      50.489       23.426        3.012
2           0.0           0.00      61.924       28.732        3.694

# THIS IS THE END 8-)